<p> Here is your tweet, <%= @user.username %>
<%binding.pry%>
<div>
  <%=@tweet.content%>
</div>

<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<input type="submit" value="Edit Tweet">
