<h3>Welcome, <%=@user.username%></h3>
<h3>Here are all of the current tweets</h3>

<ul>
<%@tweets.all.each do |tweet|%>
    <li><h4><%= tweet.user.username %>: <%= tweet.content %></h4></li>
<%end%>
</ul>

<h4><a href="/tweets/new">Create a Tweet</a></h4>

<h4><a href="/logout">Log Out</a></h4>
