<h1>This is the signup page</h1>
<form action="/signup" method="POST">
  <input type="text" id="username" name="user[username]" placeholder="Username:">
  <input type="text" id="email" name="user[email]" placeholder="Username:">
  <input type="password" id="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
